# operating system and editors
.DS_Store
.spyproject/
.ipnyb_checkpoints/
ipython_config.py
.vscode/
.spyderworkspace

# Build -files
*.pyc
*.pyo

# Documentation files and directories
./doc/_build/
./doc/Makefile

#SpathyData
/SpathyData/
/pyspace/
# Testing
# sandbox*.py
# Sandbox.ipynb
# textput.log

# Apitools local testing files
# ./apitools/*data*
# ./apitools/*meta*
